@tailwind base;
@tailwind components;
@tailwind utilities;
/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --success:  #4FBF26;
  --error: #e7195a;
}
body {
  
  margin: 0;
  font-family: "Poppins";
}



/* homepage */

.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* new workout form */


textarea{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}
select {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 70%;
  border: 1px solid #ddddddb6;
  border-radius: 4px;
  box-sizing: border-box;
}

.buttons{
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
div.success {
  padding: 10px;
  
  border: 1px solid var(--success);
  color: var(--success);
  border-radius: 4px;
  margin: 20px 0;
}

/* navbar */




/* auth forms */
form.signup, form.login {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  
  border-radius: 4px;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}


.bg-hero{
  background-image: none;
}

@media (min-width: 768px) {
  .md\:bg-hero{
    background-image: url(./assets/image/employee-hero-bg-dark.png);
  background-repeat: no-repeat; 
    
  }
  
}